<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sowciamn.recsav.repository.AssetMapper">

    <select id="findAll" resultType="com.sowciamn.recsav.model.entity.Asset">
        SELECT
            asset_year_month,
            deposit_account_cd,
            asset_amount,
            asset_remarks
        FROM
            asset
        ORDER BY
            asset_year_month DESC, deposit_account_cd;
    </select>

    <select id="findById" resultType="com.sowciamn.recsav.model.entity.Asset">
        SELECT
            asset_year_month,
            deposit_account_cd,
            asset_amount,
            asset_remarks
        FROM
            asset
        WHERE
            asset_year_month = #{assetYearMonth} AND deposit_account_cd = #{depositAccountCd};
    </select>

    <insert id="insert" parameterType="com.sowciamn.recsav.model.entity.Asset">
        INSERT INTO asset (
            asset_year_month,
            deposit_account_cd,
            asset_amount,
            asset_remarks
        ) VALUES (
            #{assetYearMonth},
            #{depositAccountCd},
            #{assetAmount},
            #{assetRemarks}
        );
    </insert>

    <update id="update" parameterType="com.sowciamn.recsav.model.entity.Asset">
        UPDATE
            asset
        SET
            asset_amount = #{assetAmount},
            asset_remarks = #{assetRemarks}
        WHERE
            asset_year_month = #{assetYearMonth} AND deposit_account_cd = #{depositAccountCd};
    </update>

    <delete id="deleteById">
        DELETE FROM
            asset
        WHERE
            asset_year_month = #{assetYearMonth} AND deposit_account_cd = #{depositAccountCd};
    </delete>

</mapper>
